{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="categories--title">Categories</h2>
    <div class="category--selection--panel">
        {% for category in categories %}
            <a href="/listingsByCategories?category={{category}}">
                {{ category }}
            </a>
        {% endfor %}
    </div>
    <div class="listings">
        {% for listing in listings %}
        <a href="listings/{{ listing.id }}">
            <div class="listing">
    
                <div class="image">
                    <img src="{{ listing.photo_url }}">
                </div>
    
                <div class="listing-info">
    
                    <h1>{{ listing.title }}</h1>
                    <p class="price"><strong>Price:</strong>
                        ${{ listing.price }}</p>
                    {% if listing.description %}
                    <p class="desc">{{ listing.description }}</p>
                    {% endif %}
                    <p class="date-created">Created {{ listing.date_created }}</p>
    
                </div>
    
            </div>
        </a>
        {% empty %}
            No listings found for this category.
        {% endfor %}
    </div>
{% endblock %}