{% extends "auctions/layout.html" %}
<!-- TODO: Make the page so it shows the things if the user is signed in. 
    User must be logged in for the following:
        * Add to watchlist
        * Place bid
        * close listing if the user owns it
        * See if they won that listing
        * Comment -->
{% block body %}
    {% if listing %}

        <section class="listing-page-info">
            {% if user.is_authenticated %}
            <form action="{% url 'toggleWatchlist' %}" method="POST" class="watchlist--form">
                {% csrf_token %}
                {{ watchlist_form }}
                <button class="watchlist--button">
                    {% if not is_watched %}
                        Watch
                    {% else %}
                        Unwatch
                    {% endif %}
                </button>
            </form>
            {% endif %}
            <div class="img">
                <img src="{{ listing.photo_url }}">
            </div>
            <div class="listing-text-info">
                <h1>{{ listing.title }}</h1>
                <p class="desc">{{ listing.description }}</p>
                <div>
                    <p>Status: 
                        <strong>{{ listing.active|yesno:"Active, Closed"}}</strong>
                    </p>
                    <p>Listed by: <strong>{{ listing.lister }}</strong></p>
                    <p>Category: <strong>{{ listing.category | title }}</strong></p>
                </div>
            </div>
        </section>

        <hr />

        <section class="listing-bid">
            <h2>Latest Bid: ${{ listing.price }}</h2>
            
            {% if user != listing.lister %}

                {% if listing.active %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'listings' listing_id=listing.id %} " method="POST">
                        {% csrf_token %}
                        <p>{{ bid_count }} bid(s) so far</p>
                        {{ form }}
                        
                            <button class="bid-button">Place Bid</button>
                       
                        {% if message %}
                            <p>{{ message }}</p>
                        {% endif %}

                    </form>
                    {% endif %}
                {% else %}
                    <h2 style="text-align:center">Listing is closed. No more bids.</h2>

                    {% if listing.winner == user %}

                        <h2 style="text-align:center">You won the auction!</h2>

                    {% endif %}

                {% endif %}
            
            {% else %}

                {% if listing.active %}
                    <!-- If the user is the lister, show end button -->
                    <a class="close--listing--button" href="{% url 'closeListing' listing_id=listing.id %}">Close Listing</a>
                {% endif %}

            {% endif %}
        </section>

        <hr />
        <section class="comments--section">
            <h1>Comments</h1>

            {% if user.is_authenticated %}
            <form action="{% url 'createComment' %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <button class="bid-button">Place comment</button>
            </form>
            {% endif %}
            <div class="comments">
                {% for comment in comments %}
                    <div class="comment--box">

                        <h3>{{ comment.commenter }}</h3>
                        <div class="comment">{{ comment.comment }} </div>
                        <p>Commented on {{ comment.date }}</p> 

                    </div>

                {% empty %}
                    No comments yet.
                {% endfor %}
                
            </div>
        </section>

    {% else %}
        Listing not found
    {% endif %}

{% endblock %}
